/*-----------------common(use)-----------------*/

$bs-fc:rgba(8, 43, 72, 1);
$bs-fc-sub:rgba(8, 43, 72, 0.8);
$nav-c:#f9f9f9;
$bs-bg-c:#e3fcf4;
$bs-ff:'Dela Gothic One', 'Roboto Condensed',Verdana, Geneva, Tahoma, sans-serif;
$bs-fs:16px;
$hov-c:#5eccb0ff;
$sub-fc:#808080;

$layout-width-inner:1200px;

$breakpoints: (
    'sp': "(max-width: 850px)",
    'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    'pc': "(min-width: #{$layout-width-inner})"
) !default;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    color: $bs-fc;
    font-family: $bs-ff;
    line-height: 1.5;
    font-size: $bs-fs;
}

.container {
    width: $layout-width-inner;
    max-width: 100%;
    margin:0 auto;

    @include mq($breakpoint: tab) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq() {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.clear::after {
    content:'';
    clear:both;
    display: block;
}

.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: transparent;
    border: solid 2px $bs-fc;
    border-radius: 50%;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    cursor: pointer;
}

.pagetop__arrow {
    display: block;
    height: 10px;
    width: 10px;
    border-top: 3px solid $bs-fc;
    border-right: 3px solid $bs-fc;
    -webkit-transform: translateY(20%) rotate(-45deg);
            transform: translateY(20%) rotate(-45deg);
}

a:hover {
    color: $hov-c;
}

ol{
    width: 100%;
    background: $nav-c;
    list-style: none;
    padding: 4px 8px;
    li{
        display: inline-block;
        margin-right: 20px;
        position: relative;

        &:not(:last-child)::after{
            content: ' > ';
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
        }

    }
}